@charset "UTF-8";
body {
  margin: 0 auto;
  height: auto;
  color: #000;
  font-size: 12pt;
  font-family: "Work Sans", sans-serif; }

/*Media query för 300px*/
@media screen and (min-width: 300px) {
  .text-center,
  .col-12 {
    text-align: center !important;
    margin: 0;
    padding: 20px;
    background-color: black; }
  .fw-light {
    font-size: 1.5rem;
    background-color: black;
    color: white; }
  .masthead {
    max-width: 100%;
    background-image: url("../assets/images/4_web.jpg");
    background-size: 100% auto !important;
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    position: relative;
    z-index: 1; }
    .masthead .header-box {
      position: relative;
      z-index: 1;
      background-color: black; }
  /*Styling för navbaren*/
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar .nav-link {
      text-align: center;
      color: #b2926c;
      font-size: 1.6rem; }
      .navbar .nav-link:hover {
        color: #000; }
    .navbar .navbar > .container {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between; }
    .navbar .row {
      --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      display: flex;
      flex-wrap: wrap;
      margin-top: calc(var(--bs-gutter-y) * -1);
      margin-right: calc(var(--bs-gutter-x) * -0.5);
      margin-left: calc(var(--bs-gutter-x) * -0.5); }
  /*Styling för slide-out sidebaren*/
  #sidebar .nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  #sidebar .navbar {
    background-color: #b2926c !important; }
  #sidebar .offcanvas.show {
    background-color: #b2926c !important; }
  #sidebar .offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #b2926c !important; }
  #sidebar .offcanvas-title {
    margin-left: 20px;
    margin-bottom: 0;
    line-height: 1.5;
    background-color: #b2926c !important; }
  #sidebar .offcanvas-body {
    flex-grow: 1;
    padding: 1rem 1rem;
    overflow-y: auto;
    background-color: #b2926c; }
  /*Styling för menyknapp*/
  button {
    color: -internal-light-dark(black, white);
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    box-sizing: border-box;
    background-color: #fff !important;
    border-color: #fff !important;
    margin: 0em;
    padding: 1px 4px; }
  .btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #b2926c;
    background-color: #000 !important;
    border-color: #000 !important;
    padding: 0.375rem 0.75rem;
    font-size: 1.2rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    .btn .btn-primary {
      color: #b2926c;
      background-color: #fff !important;
      border-color: #fff !important; }
    .btn .btn-primary:hover {
      color: #b2926c;
      background-color: #fff !important;
      border-color: #fff !important; }
    .btn .btn:hover {
      color: #b2926c;
      background-color: #fff !important;
      border-color: #fff !important; }
    .btn .btn-primary:focus,
    .btn btn-check:focus {
      color: #b2926c;
      background-color: #fff !important;
      border-color: #fff !important;
      box-shadow: #fff !important; }
  /* MEDIAQUERIES
    min-width: 300
    min-width: 600
    min-width: 1000
*/ }
