body {
  margin: 0 auto;
  height: auto;
  color: #000;
  font-size: 12pt; }

h1,
li {
  font-family: "Sora", sans-serif; }

a {
  color: #b2926c;
  text-decoration: none; }
  a:hover {
    color: #000;
    transition: color 0.5s; }

@media screen and (min-width: 300px) {
  .masthead {
    max-width: 100%;
    background-image: url("../assets/images/4_web.jpg");
    background-size: 100% auto !important;
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    position: relative;
    z-index: 1; }
  .navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
    .navbar .navbar > .container {
      display: flex;
      flex-wrap: inherit;
      align-items: center;
      justify-content: space-between; }
    .navbar .container {
      max-width: 100%; }
  #sidebar {
    display: flex;
    justify-content: flex-start; }
    #sidebar .nav {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none; }
    #sidebar .offcanvas-body {
      flex-grow: 1;
      padding: 1rem 1rem;
      overflow-y: auto; }
  #offcanvasExample {
    background-color: #b2926c;
    border: none;
    width: 100%; }
    #offcanvasExample .nav-link {
      text-align: left;
      color: #fff;
      opacity: 1;
      font-size: 1.6rem; }
      #offcanvasExample .nav-link:hover {
        color: #000;
        transition: color 0.5s linear; }
  .offcanvas-header h1 {
    color: white;
    border-bottom: 2px solid #fff;
    padding: 1px; }
  .btn-primary {
    color: #b2926c;
    background-color: transparent !important;
    border-color: transparent !important; }
    .btn-primary:hover {
      color: #b2926c;
      background-color: transparent !important;
      border-color: transparent !important; }
  .btn:hover,
  .btn-primary:focus,
  .btn-check:focus {
    color: #b2926c;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: transparent !important; } }

@media screen and (min-width: 600px) {
  .masthead {
    max-width: 100%;
    background-image: url("../assets/images/4_web.jpg");
    background-size: 100% auto !important;
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    position: relative;
    z-index: 1; }
  #offcanvasExample {
    background-color: #b2926c;
    border: none;
    width: 100%; } }

@media screen and (min-width: 1000px) {
  .masthead {
    max-width: 100%;
    background-image: url("../assets/images/4_web.jpg");
    background-size: 100% auto !important;
    background-position: top right;
    background-repeat: no-repeat;
    padding-bottom: 50%;
    position: relative;
    z-index: 1; }
  #offcanvasExample {
    background-color: #b2926c;
    border: none;
    width: 100%; } }

.modal-container {
  display: flex;
  justify-content: center;
  margin: 25px; }

.modal-dialog,
.modal-content {
  text-align: center; }

.purchase-btn,
.tracking-btn {
  color: #fff;
  background-color: #b2926c !important;
  border-color: transparent !important; }

.closing-btn {
  color: #000;
  background-color: #fff !important;
  border-color: transparent !important; }
  .closing-btn:hover {
    color: #000;
    background-color: #fff !important;
    border-color: transparent !important; }
