.footer {
  padding: 10px;
  background-color: #ff7be9;
  border: 1px solid black;
  width: 100%; }

.container {
  padding: 10px;
  background-color: #fcb4fc;
  border: 1px solid black; }

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #fcb4fc;
  border: 5px solid white; }

h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: underline; }

.ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: white;
  background-color: #f5c4ff;
  border: 5px solid white; }

li {
  margin: 5px; }

li:hover {
  background: rgba(255, 255, 255, 0.212); }

.mail {
  line-height: 2;
  color: white;
  text-decoration: none; }

.posision {
  color: white;
  text-decoration: none; }

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px; }

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px; } }
