body {
  margin: 0;
  padding: 0; }

header {
  height: 200px;
  border: 1px solid black;
  background-color: burlywood; }

main {
  height: 80vh;
  border: 1px solid black;
  background-color: blanchedalmond; }

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #faf5ff;
  width: 100%;
  border: 1px solid black; }
  footer .info {
    height: 100%;
    color: #dbc3f1; }
    footer .info .link {
      color: #dbc3f1; }
    footer .info .media {
      margin: 10px;
      display: flex;
      gap: 20px; }
    footer .info a:hover {
      background-color: yellow;
      width: 110px; }

@media screen and (min-width: 300px) {
  body {
    margin: 0;
    padding: 0; }
  header {
    height: 200px;
    border: 1px solid black;
    background-color: burlywood; }
  main {
    height: 80vh;
    border: 1px solid black;
    background-color: blanchedalmond; }
  footer {
    display: flex;
    flex-direction: row;
    background-color: #faf5ff;
    width: 100%;
    border: 1px solid black; }
    footer .info {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 100%;
      color: #dbc3f1; }
      footer .info .Obsession {
        margin: 0px 50px;
        text-decoration: underline; }
        footer .info .Obsession .link {
          color: #dbc3f1; }
      footer .info .media {
        position: absolute;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px; } }
