body {
    margin: 0 auto;
    height: auto;
    color: #000;
    font-size: 12pt;
}

h1,
li {
    font-family: "Sora", sans-serif;
}

/*Media query för 300px*/
@media screen and (min-width: 300px) {
    .masthead {
        max-width: 100%;
        background-image: url("../assets/images/4_web.jpg");
        background-size: 100% auto !important;
        background-position: top right;
        background-repeat: no-repeat;
        padding-bottom: 50%;
        position: relative;
        z-index: 1;
    }

    /*Styling för navbaren*/
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        .navbar > .container {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            justify-content: space-between;
        }
    }

    #sidebar {
        display: flex;
        justify-content: flex-start;

        .nav {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            padding-left: 0;
            margin-bottom: 0;
            list-style: none;
        }
        .offcanvas-body {
            flex-grow: 1;
            padding: 1rem 1rem;
            overflow-y: auto;
        }
    }

    #offcanvasExample {
        background-color: #b2926c;
        border: none;
        width: 100%;

        .nav-link {
            text-align: left;
            color: #fff;
            opacity: 1;
            font-size: 1.6rem;
            &:hover {
                color: #000;
            }
        }
    }

    .offcanvas-header h1 {
        color: white;
        border-bottom: 2px solid #fff;
        padding: 1px;
    }

    /*Styling för menyknapp*/

    button {
        color: -internal-light-dark(black, white);
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        box-sizing: border-box;
        background-color: transparent !important;
        border-color: transparent !important;
        margin: 0em;
        padding: 1px 4px;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        line-height: 1.5;
        color: #b2926c;
        background-color: transparent !important;
        border-color: transparent !important;
        font-size: 1.2rem;
        border-radius: 0.25rem;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
            border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

        .btn-primary {
            color: #b2926c;
            background-color: transparent !important;
            border-color: transparent !important;
        }

        .btn-primary:hover {
            color: #b2926c;
            background-color: transparent !important;
            border-color: transparent !important;
        }

        .btn:hover {
            color: #b2926c;
            background-color: transparent !important;
            border-color: transparent !important;
        }

        .btn-primary:focus,
        btn-check:focus {
            color: #b2926c;
            background-color: #fff !important;
            border-color: #fff !important;
            box-shadow: #fff !important;

            .btn-close {
                padding: 0.5rem 0.5rem;
                margin-top: -0.5rem;
                margin-right: -0.5rem;
                margin-bottom: -0.5rem;
            }
        }
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    gap: 40px;
    margin-bottom: 80px;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 95%;

    .product-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 275px;
        height: 435px;
        background-color: rgba(211, 211, 211, 0.322);
        box-shadow: 0 0 5px 5px lightgray;

        img {
            width: 250px;
            margin-top: 10px;
        }
    }
}

.footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #b2936c96;
}
h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
    color: white;
}
li {
    margin: 5px;
}
li:hover {
    background: #b2936cd0;
}

.mail {
    line-height: 2;
    color: white;
    text-decoration: none;
}
.posision {
    color: white;
    text-decoration: none;
}
.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/*Media query för 600px*/
@media screen and (min-width: 600px) {
    .masthead {
        max-width: 100%;
        background-image: url("../assets/images/4_web.jpg");
        background-size: 100% auto !important;
        background-position: top right;
        background-repeat: no-repeat;
        padding-bottom: 50%;
        position: relative;
        z-index: 1;
    }

    #offcanvasExample {
        background-color: #b2926c;
        border: none;
        width: 100%;
    }

    section {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

        .product-container {
            width: 250px;
            height: 400px;

            img {
                width: 225px;
            }
        }
    }

    .askUsAndFindUs {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }
}

/*Media query för 1000px*/
@media screen and (min-width: 1000px) {
    .masthead {
        max-width: 100%;
        background-image: url("../assets/images/4_web.jpg");
        background-size: 100% auto !important;
        background-position: top right;
        background-repeat: no-repeat;
        padding-bottom: 50%;
        position: relative;
        z-index: 1;
    }

    #offcanvasExample {
        background-color: #b2926c;
        border: none;
        width: 100%;
    }

    section {
        flex-wrap: nowrap;
        justify-content: space-around;

        .product-container {
            width: 275px;
            height: 440px;

            img {
                width: 250px;
            }
        }
    }

    .footer-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        text-align: center;
        padding: 0;
    }

    .social-links {
        flex-direction: column;
        gap: 10px;
    }
}
