.footer {
  padding: 10px;
  background-color: rgb(255, 123, 233);
  border: 1px solid black;
  width: 100%;
}
.container {
  padding: 10px;
  background-color: rgb(252, 180, 252);
  border: 1px solid black;
}
.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(252, 180, 252);
  border: 5px solid rgb(255, 255, 255);
}
h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: underline;
}
.ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  color: white;
  background-color: rgb(245, 196, 255);

  border: 5px solid white;
}
li {
  margin: 5px;
}
li:hover {
  background: rgba(255, 255, 255, 0.212);
}

.mail {
  line-height: 2;
  color: white;
  text-decoration: none;
}
.posision {
  color: white;
  text-decoration: none;
}
.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

@media screen and (min-width: 600px) {
  .row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
}
