$linkColor: rgb(219, 195, 241);

body {
  margin: 0;
  padding: 0;
}
header {
  height: 200px;
  border: 1px solid black;
  background-color: burlywood;
}
main {
  height: 80vh;
  border: 1px solid black;
  background-color: blanchedalmond;
}
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  background-color: rgb(250, 245, 255);
  width: 100%;
  border: 1px solid black;

  .info {
    height: 100%;
    color: $linkColor;

    .link {
      color: $linkColor;
    }
    .media {
      margin: 10px;
      display: flex;
      gap: 20px;
    }
    a:hover {
      background-color: yellow;
      width: 110px;
    }
  }
}

@media screen and (min-width: 300px) {
  body {
    margin: 0;
    padding: 0;
  }
  header {
    height: 200px;
    border: 1px solid black;
    background-color: burlywood;
  }
  main {
    height: 80vh;
    border: 1px solid black;
    background-color: blanchedalmond;
  }
  footer {
    display: flex;
    flex-direction: row;

    background-color: rgb(250, 245, 255);
    width: 100%;
    border: 1px solid black;

    .info {
      display: flex;
      flex-direction: row;

      align-items: center;

      height: 100%;
      color: $linkColor;

      .Obsession {
        margin: 0px 50px;
        text-decoration: underline;
        .link {
          color: $linkColor;
        }
      }

      .media {
        position: absolute;
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}
